<ul>
  <% @items.each do |item| %>
    <li>
			<%#= link_to item_title(item), {:controller => "welcome", :action => "show", :id => item} %>
			<%= link_to item_title(item), welcome_item_path(item) %>
  		<%= number_to_dutch_currency(item.current_price) %>
    </li>
  <% end %>
</ul>